extends:
  - '@rixo/svelte'

# settings:
#   svelte3/enabled: true
#   svelte3/ignore-warnings: false
#   svelte3/lint-template: false

overrides:
  - files: ["lib/**/*", "plugins/**/*"]
    env:
      node: true
  - files: ["runtime/**/*"]
    env:
      browser: true
  - files: ["test/e2e/**/*"]
    env:
      mocha: true
      node: true
    rules:
      no-unused-expressions: off
  - files: ["test/unit/**/*"]
    env:
      node: true
  - files: ["test/unit/**/*.expected.js"]
    rules:
      import/no-unresolved: off

rules:
  require-atomic-updates: off
