@import "https://unpkg.com/open-props";
@import 'https://unpkg.com/open-props/buttons.min.css';
@import "https://unpkg.com/open-props/gray-hsl.min.css";
@import "https://unpkg.com/open-props/purple-hsl.min.css";
@import "https://unpkg.com/open-props/choco-hsl.min.css";

@use postcss-preset-env {
  stage: 0;
  features: {
    "logical-properties-and-values": false
  }
} 

html {
  /* light */
  --brand-light: var(--orange-6);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;

  /* dark */
  --brand-dark: var(--orange-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;

  /* dim */
  --brand-dim: var(--orange-4);
  --text-1-dim: var(--gray-3);
  --text-2-dim: var(--gray-4);
  --surface-1-dim: var(--gray-8);
  --surface-2-dim: var(--gray-7);
  --surface-3-dim: var(--gray-6);
  --surface-4-dim: var(--gray-5);
  --surface-shadow-dim: var(--gray-9-hsl);
  --shadow-strength-dim: 20%;
  
  /* grape */
  --brand-grape: var(--purple-5);
  --text-1-grape: var(--purple-9);
  --text-2-grape: var(--purple-7);
  --surface-1-grape: var(--purple-0);
  --surface-2-grape: var(--purple-1);
  --surface-3-grape: var(--purple-2);
  --surface-4-grape: var(--purple-3);
  --surface-shadow-grape: var(--purple-12-hsl);
  --shadow-strength-grape: 2%;
  
  /* choco */
  --brand-choco: var(--choco-5);
  --text-1-choco: var(--choco-1);
  --text-2-choco: var(--choco-2);
  --surface-1-choco: var(--choco-12);
  --surface-2-choco: var(--choco-11);
  --surface-3-choco: var(--choco-10);
  --surface-4-choco: var(--choco-9);
  --surface-shadow-choco: 25deg 65% 11%;
  --shadow-strength-choco: 50%;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dim);
    --text-1: var(--text-1-dim);
    --text-2: var(--text-2-dim);
    --surface-1: var(--surface-1-dim);
    --surface-2: var(--surface-2-dim);
    --surface-3: var(--surface-3-dim);
    --surface-4: var(--surface-4-dim);
    --surface-shadow: var(--surface-shadow-dim);
    --shadow-strength: var(--shadow-strength-dim);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;
  
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --brand: var(--brand-dim);
  --text-1: var(--text-1-dim);
  --text-2: var(--text-2-dim);
  --surface-1: var(--surface-1-dim);
  --surface-2: var(--surface-2-dim);
  --surface-3: var(--surface-3-dim);
  --surface-4: var(--surface-4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

[color-scheme="grape"] {
  color-scheme: light;

  --brand: var(--brand-grape);
  --text-1: var(--text-1-grape);
  --text-2: var(--text-2-grape);
  --surface-1: var(--surface-1-grape);
  --surface-2: var(--surface-2-grape);
  --surface-3: var(--surface-3-grape);
  --surface-4: var(--surface-4-grape);
  --surface-shadow: var(--surface-shadow-grape);
  --shadow-strength: var(--shadow-strength-grape);
}

[color-scheme="choco"] {
  color-scheme: light;

  --brand: var(--brand-choco);
  --text-1: var(--text-1-choco);
  --text-2: var(--text-2-choco);
  --surface-1: var(--surface-1-choco);
  --surface-2: var(--surface-2-choco);
  --surface-3: var(--surface-3-choco);
  --surface-4: var(--surface-4-choco);
  --surface-shadow: var(--surface-shadow-choco);
  --shadow-strength: var(--shadow-strength-choco);
}

