@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/pt-root-ui');

@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';
@import './vars.css';


p {
    /* max-inline-size: var(--size-content-1); */
    font-size: var(--font-size-4);
    line-height: var(--font-lineheight-3);
}

.surface-samples {
    display: grid;
    --size: var(--size-content-1);
    grid-template-columns: var(--size) var(--size);
    grid-auto-rows: var(--size);
    gap: var(--size-5);

    @media (width <= 480px) {
        & {
            --size: 40vw;
        }
    }

    & > * {
        border-radius: var(--radius-3);
        display: grid;
        place-content: center;
        font-size: var(--font-size-8);
        font-weight: var(--font-weight-2);
    }
}

.text-samples {
    display: grid;
    gap: var(--size-4);

    & > h1 {
        font-size: var(--font-size-6);
        display: inline-flex;
        align-items: center;
        gap: var(--size-3);
    }
}

/* .brand {
    color: var(--brand);
    background-color: var(--brand);
  } */

.surface-1 {
    background-color: var(--surface-1);
    color: var(--text-2);
}

.surface-2 {
    background-color: var(--surface-2);
    color: var(--text-2);
}

.surface-3 {
    background-color: var(--surface-3);
    color: var(--text-1);
}

.surface-4 {
    background-color: var(--surface-4);
    color: var(--text-1);
}

.text-1 {
    color: var(--text-1);
    @nest p& {
        font-weight: var(--font-weight-2);
    }
}

.text-2 {
    color: var(--text-2);
}

.swatch {
    display: inline-block;
    flex-shrink: 0;
    inline-size: var(--size-8);
    block-size: var(--size-8);
    border-radius: var(--radius-round);

    &.text-1 {
        background-color: var(--text-1);
    }
    &.text-2 {
        background-color: var(--text-2);
    }
}

.rad-shadow {
    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
    box-shadow: 0 1rem 0.5rem -0.5rem;
    box-shadow: 0 2.8px 2.2px
            hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
        0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 1%)),
        0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
        0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
        0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
        0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}

main {
    max-width: 1024px;
    margin: auto;
}
body {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
body > * > main {
    margin-top: var(--size-9);
}
body > * > header {
    background: var(--surface-2);
    position: relative;

    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
    box-shadow: 0 1rem 0.5rem -0.5rem;
    box-shadow: 0 2.8px 2.2px
            hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
        0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 1%)),
        0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
        0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
        0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
        0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));

    & nav {
        max-width: 1024px;
        margin: auto;
        display: flex;
        padding: var(--size-2) 0 var(--size-3);

        & .brand > * {
            font-size: var(--font-size-6);
            text-decoration: none;
            color: var(--brand);
        }
        & .spacer {
            flex-grow: 1;
        }
        & ul {
            align-self: flex-end;
            display: flex;
            gap: var(--size-5);
        }
        & li {
            padding-bottom: var(--size-1);
            list-style: none;
            & a {
                color: var(--text-2);
                text-decoration: none;
                font-size: var(--font-size-4);
                font-family: 'PT Root UI', 'Roboto', 'Courier New', Courier, monospace;
                border-bottom: solid 3px transparent;
                .isActive & {
                    border-color: var(--surface-4);
                }
            }
        }
    }
}

label:not(label > label) {
    color: var(--text-2);

    margin: var(--size-4) 0;
    display: inline-flex;
    flex-direction: column;
    position: relative;

    > input {
        padding-top: var(--size-1);
        font-size: var(--font-size-4);
        border: none;
        border-bottom: solid 4px var(--surface-3);
        background-color: transparent;
        &:focus-visible {
            border-bottom: solid 4px var(--brand);
            outline: none;
        }
    }

    > label {
        position: absolute;
        right: 0;
        bottom: var(--size-2);

        .unchecked,
        .checked {
            font-weight: var(--font-weight-6);
            cursor: pointer;
        }

        .unchecked:has(~ input:checked),
        .checked:has(~ input:not(:checked)),
        .unchecked ~ input[type='checkbox']:not(:checked),
        .checked ~ input[type='checkbox']:checked {
            display: none;
        }
    }
}

.login {
    background: var(--surface-2);
    border-radius: var(--radius-3);
    box-shadow: 0 1rem 0.5rem -0.5rem;
    box-shadow: 0 2.8px 2.2px
            hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
        0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 1%)),
        0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
        0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
        0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
        0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));

    margin: 0 auto;
    /* display: inline-block; */
    width: 480px;
    margin-top: 300px;

    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);

    & header {
        font-size: var(--font-size-7);
        font-weight: bold;
        text-align: center;
        margin-bottom: var(--size-7);
    }

    & form {
        display: inline-flex;
        flex-direction: column;
        padding: var(--size-9);
        width: 100%;
    }

    & button {
        cursor: pointer;
        height: var(--size-9);
        font-size: var(--font-size-4);
        border-radius: var(--radius-5);
        margin-top: var(--size-7);
    }

    .return-link {
        margin-top: var(--size-3);
        text-align: center;
    }
}

.admin {
    padding-top: var(--size-10);    
    display: flex;
    flex-flow: column;
    align-items: center;
}

.signout {
    position: absolute;
    top: 0;
    right: 0;
}

progress {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    height: 8px;

}

.progress-line,
.progress-line:before {
    height: 3px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
}
.progress-line {
    background-color: var(--brand);
    display: -webkit-flex;
    display: flex;
}
.progress-line:before {
    background-color: var(--surface-2);
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
@keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
